Source: rfc-search
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Maintainer: Hemanth <hemanth.hm@gmail.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: rfc-search
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-gtk2,
 python-desktopcouch-records
Description: Search RFC
 This is a standalone app for searching RFC's 
